.card {
    background-color: lightgray;
    padding: 1em 2em
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
}

input[type="text"]{
    width: 90%;
}

.icon {
    width: 1%;
    border: 1px solid gray;
}